.container{
    text-align: center;
    background: rgba(75, 75, 182, 0.603);
    height: 100vh;
}


.body input{
    padding: 8px;
    margin-right: 8px;
    border-radius: 1rem;
    

}

.body button{

    padding: 8px 16px;
    background: #102f5e86;
    font-family: inherit;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    


}

.footer{
    margin-top: 25px;
    font-size: 20px;
}


