.container{
    text-align: center;
    background: linear-gradient(150deg, #0084ffcb, #0c4377e8);
    height: 100vh;
    font-style: sans-serif;
    color: black;
}


.body input{
    padding: 12px;
    margin-right: 4px;
    border-radius: 1rem;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.897);
    
    

}

.body button{

    padding: 12px 14px;
    background: black;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.897);
    


}

.footer{
    margin-top: 25px;
    font-size: 20px;
}


.meunome{
    text-align: center;
    color: white;
    font-style: italic;
}